<IfModule mod_rewrite.c>
    RewriteEngine On

    # No reescribas si el archivo o directorio existe
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirige todas las rutas hacia route.php con parámetro "action"
    RewriteRule ^(.*)$ route.php?action=$1 [QSA,L]
</IfModule>
